body{
    margin:0;
    padding:20px;
    background:#edf2f3;
    text-align:center;
}

img{
    max-width:100%;
    height:auto;
    display:block;
    margin:auto;
}

.versione{
    margin:20px 0 40px;
    font-size:18px;
    color:#a9741f;
    font-family:Georgia, serif;
}